// Colors
$white: #FFF;
$gray: #E6E6E6;
$red: #E4655F;
$black: #19191A;
$blue: #5F8EE4;

// Breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1296px;

// Type
// Based on a root font-size of 16px for 1rem
$font-size-40: 2.5rem;
$font-size-28: 1.75rem;
$font-size-16: 1rem;

// Styles
$border-radius: 8px;